# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
.next/
out/

# Env
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
.DS_Store

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep
